.content {
    background:
    linear-gradient(to bottom right, rgba(1, 54, 90, 0.9), rgba(11, 84, 133, 0.9)),
    url('../../../assets/images/us_window.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 64px 0;
}

img {
    height: 200px;
    // width: 50%;
    object-fit: scale-down;
}