.content {
    background-attachment: fixed;
    background-image: url('../../../assets/images/boston_harbor.jpg');
    background:
    linear-gradient(rgba(90, 90, 90, 0.6), rgba(90, 90, 90, 0.6)),
    url('../../../assets/images/boston_harbor.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.welcome-message {
    color: white;
    font-size: 94px;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    top: 3rem;
    width: 100%;

    @media (max-width: 958px) {
        font-size: 56px;
    }
}