
.side-menu {
    padding: 1rem;
    overflow-y: auto;
    position: fixed;
    max-height: 100vh;

    @media (max-width: 599px) {
        width: 70vw;
    }

    @media (min-width: 600px) {
        width: 30vw;
    }
}

// main {
//     margin-top: 4rem;
//     min-height: calc(100vh - 4rem - 6rem);
//     padding: 1rem 0;

//     @media (max-width: 599px) {
//         min-height: calc(100vh - 56px - 6rem);
//         padding: 1rem;
//     }
// }

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    .top-toolbar {
        color: white;
        font-size: 18px;
        position:relative;
        background: transparent !important;
        z-index:0;
    }

    .header-content {
        width: 100%;
        
        .site-title {
            font-size: 1.5em;
            margin: 0;
            padding: 0;
        }

        .menu-item {
            font-size: 1.5em;
        }
    }

    .top-toolbar:before {
        content: "";
        position: absolute;
        z-index:-1;
        top: 0;  left: 0;  right: 0;  bottom: 0;
        background: transparent;
        transition: .25s ease-in-out;
    }
}

header.scrolled {
    .top-toolbar:before {
        background: #222222;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    }
}

footer {
    background-color: #222222;
    color: #FFFFFF;
    height: 6rem;
    padding: 1rem;
    width: 100%;

    .footer-links {
        line-height: 150%;

        a {
            color: #FFFFFF;
        }

        .footer-link-divider {
            margin: auto .5rem;
        }
    }
}