<div class="content" id="about-us" fxLayout="row" fxLayoutAlign="center center">

  <div fxFlex="75" fxFlex.sm="90" fxFlex.xs="90" fxLayout="column" fxLayoutGap="32px">
    <h2>About us!</h2>
    <p >This is a little bit about us and who we are. We are pretty much the best ever! So please read all this and come to our Wedding!</p>

    <div fxLayoutAlign="space-around" >
      <div class="about-him" fxLayout="column" fxLayoutAlign="center center"> 
        <h2>About him</h2>
        <img src="https://previews.123rf.com/images/yupiramos/yupiramos1802/yupiramos180200893/94677197-cute-and-little-boy-silhouette-vector-illustration-design.jpg">
        <p>He's a boy. He does not like to dance. Dancing is not fun. You should come to our wedding because it will be amazing!</p>
      </div>
      
      <div class="about-her" fxLayout="column" fxLayoutAlign="center center"> 
        <h2>About her</h2>
        <img src="http://www.childrensilhouettes.com/content/images/thumbs/0003011_girl-playing-10-children-silhouette-decals_600.gif">
        <p>She's a girl. She like to dance. Dancing is fun. You should come to our wedding because it will be amazing!</p>
      </div>
    </div>

  </div>
  
  
  
</div>
