<div class="content" id="about-us" fxLayout="row" fxLayoutAlign="center center">

  <div fxFlex="75" fxFlex.lt-lg="90" fxLayout="column" fxLayoutGap="32px">
    <h2>About us!</h2>
    <p >This is a little bit about us and who we are. We are pretty much the best ever! So please read all this and come to our Wedding!</p>

    <div fxLayoutAlign="space-around" fxLayout.lt-lg="column" fxLayoutGap="2rem">
      <div class="about-him" fxLayout="column" fxLayoutAlign="start center"> 
        <h3>About him</h3>
        <img src="../../../assets/images/about_dylan.jpg">
        <p>He's a boy. He does not like to dance. Dancing is not fun. You should come to our wedding because it will be amazing!</p>
      </div>
      
      <div class="about-her" fxLayout="column" fxLayoutAlign="start center"> 
        <h3>About her</h3>
        <img src="../../../assets/images/about_brooke.jpg">
        <p>She's a girl. She like to dance. Dancing is fun. You should come to our wedding because it will be amazing!</p>
      </div>
    </div>

  </div>
  
  
  
</div>
