<div class="content" id="about-us" fxLayout="row" fxLayoutAlign="center center">

  <div fxFlex="75" fxFlex.lt-lg="90" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
    <h2>About us!</h2>
    <p >Dylan and Brooke are the definition of "High School Sweethearts". He went to elementary school in Ovid, she went to Elsie.
      They met in middle school and started dating Freshman year of high school. Fast forward 7 some years, and here we are!</p>

    <img class="proposal_pic" src="../../../assets/images/proposal.jpg">

    <p>Dylan asked Brooke to marry him in the most amazing way possible! One summer they went to visit Dylan's sister (Morgan) in Massachusetts, 
      they went hiking, spent time in Boston, and tons more. From then on, Dylan started planning. They returned the following year for the 2nd Annual 
      Massachusetts Trip! This time, during the hang-out sesh in Boston, Dylan popped the question overlooking the city in the Boston Harbor. The 3rd Annual Massachusetts Trip has a lot to live up to!</p>

    <div fxLayoutAlign="space-around" fxLayout.lt-lg="column" fxLayoutGap="2rem">
      <div class="about-him" fxLayout="column" fxLayoutAlign="center center"> 
        <h3>About Him</h3>
        <img src="../../../assets/images/about_dylan.jpg">
        <div fxLayout="row" fxLayoutAlign="center center">
          <p class="bio" fxFlex="80" fxFlex.lt-lg="50">
            Dylan is currently a Software Developer at Kunz, Leigh, and Associates (KL&A). He actually created this website from scratch (Might be a bit bias)!
            He studied Computer Science at Grand Valley State and loves snowboarding, tournament paintball, and camping. Oh, he is also a retired Magician!
          </p>
        </div>
        
      </div>
      
      <div class="about-her" fxLayout="column" fxLayoutAlign="start center"> 
        <h3>About Her</h3>
        <img src="../../../assets/images/about_brooke.jpg">
        <div fxLayout="row" fxLayoutAlign="center center">
          <p class="bio" fxFlex="80" fxFlex.lt-lg="50">
            Brooke is currently working at Memorial Healthcare in Owosso as a Registered Nurse. She studied at Lansing Community College for her RN and is looking into Michigan of Flint
            to continue on for her Bachelor's. She enjoys puzzles and volleyball. Oh, she is also a retired Magician's Assistant!
          </p>
        </div>
      </div>
    </div>

  </div>
  
  
  
</div>
