<div class="content" id="rsvp" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="75" fxFlex.lt-lg="90" fxLayout="column" fxLayoutGap="32px">
    <h2>RSVP!</h2>
    <p>We are using an online, third party tool to keep track of all RSVPs. This allows us to save money and the enviornment! Please click the button below to get redirected to the RSVP site. Once there, you can use the email you recieved the invite with to sign in.</p>
    <div fxLayoutAlign="center center" >
      <a class="rsvp-button" mat-raised-button color="primary" href="https://kernohan-wedding.rsvpify.com" fxLayoutAlign="center center" fxFlex="33" fxFlex.lt-md="50">RSVP</a>
    </div>
  </div>
</div>