<div class="content" id="event" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="75" fxFlex.lt-lg="90" fxLayout="column" fxLayoutGap="1rem">
    <h2>Event</h2>
    <h3>Ceremony</h3>
    <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="1rem">
      <p class="label" fxFlex="10" fxFlex.lt-sm="33">What</p>
      <p fxFlex="90" fxFlex.lt-sm="77">Come sit for a super long time while we awkwardly stand in front of you.</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="1rem">
      <p class="label" fxFlex="10" fxFlex.lt-sm="33">When</p>
      <p fxFlex="90" fxFlex.lt-sm="77">October 4th @ 4:30 PM</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="1rem">
      <p class="label" fxFlex="10" fxFlex.lt-sm="33">Where</p>
      <p fxFlex="90" fxFlex.lt-sm="77">Eagle Eye Banquet Center - 15500 Chandler Rd #3, Bath Twp, MI 48808</p>
    </div>
    <h3>Reception</h3>
    <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="1rem">
      <p class="label" fxFlex="10" fxFlex.lt-sm="33">What</p>
      <p fxFlex="90" fxFlex.lt-sm="77">Come party your socks off with us! We will eat, dance, eat some more. It will be the best part of the day!</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="1rem">
      <p class="label" fxFlex="10" fxFlex.lt-sm="33">When</p>
      <p fxFlex="90" fxFlex.lt-sm="77">October 4th @ 6:00 PM</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="1rem">
      <p class="label" fxFlex="10" fxFlex.lt-sm="33">Where</p>
      <p fxFlex="90" fxFlex.lt-sm="77">Eagle Eye Banquet Center - 15500 Chandler Rd #3, Bath Twp, MI 48808</p>
    </div>
  </div>
</div>