<div class="content" id="registry" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="75" fxFlex.lt-lg="90" fxLayout="column" fxLayoutGap="1rem">
    <h2>Registry</h2>
    <p>All we want on our wedding day is to see all of your lovely faces. However, for some of you over achievers, registries have been set up. Just click the image!</p>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-lg="column" fxLayoutGap="1rem">
      <a href="https://www.bedbathandbeyond.com/store/giftregistry/viewregistryguest/547006000?eventType=Wedding"><img class="logo-link" src="../../../assets/images/bed_bath_beyond_logo.png" alt="Bed Bath and Beyond logo"></a>
      <a href="https://www.amazon.com/wedding/share/kernohanwedding"><img class="logo-link" src="../../../assets/images/amazon_logo.png" alt="Amazon logo"></a>
    </div>
  </div>
</div>